{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div>
        <h1>Interface administrateur</h1>
        </hr>
        <li>
            <ul><a class="btn btn-success" href="{{ path('admin_new_offer') }}">Ajouter une offre</a></ul>
            <ul><a class="btn btn-primary" href="{{ path('manage_offers') }}">Gérer les offres</a></ul>
        </li>
    </div>
{% endblock %}
